.git
.gitignore
.DS_Store

node_modules
**/node_modules

dist
**/dist
coverage
**/coverage

.env
.env.local
.env.*.local

**/*.tsbuildinfo

.yummygraph
yummygraph-web/playwright-report
yummygraph-web/test-results
